{% include 'base-template/cabecalho-simples.twig' %}
<main id="main-content">
    <div class="container">
        <section id="services" class="py-5">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <h3 class="mt-5 text-center titulo font-weight-light">Informações do evento!</h3>
                    <div class="container card text-center m-5">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card m-5">
                                    <img class="card-img-top img-thumbnail" src="assets/img/Paulo-Cesar-Barck-286x180.png" alt="Paulo Cesar Bark">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card m-5">
                                     <h4 class="mt-5 text-center titulo font-weight-light">Show de Paulo Cesar Barck</h4>
                                     <br>
                                     <p class="card-text text-justify m-4">
                                        Rebeca Nemer e o esposo, o cantor gospel Paulo Cesar Baruk, farão um show um show no mineirão.
                                        Veja logo abaixo os lotes disponíveis, compore rápido os lotes aumentam.
                                     </P>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 offset-md-3 offset-lg-3">
                                <ul class="list-group">
                                    <li class="list-group-item active">Primeiro Lote: R$ 20,00</li>
                                    <li class="list-group-item">Segundo Lote: R$ 30,00</li> 
                                    <li class="list-group-item">Lote para estudante: R$ 10,00</li>
                                </ul>
                            </div>
                            <div class="mt-5 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
                                <button type="submit" class="btn btn-primary btn-lg">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% include 'base-template/rodape-simples.twig' %}