{% include 'base-template/cabecalho.twig' %}
	<main id="main-content">
		<div class="container">
			<section id="services" class="py-5 text-center">
				<h2 class="title titulo">
					Eventos
					<span class="color">
						Disponíveis
					</span>
				</h2>
				<hr class="c-hr">
				<p class="mt-3">
					Escolha um Evento !!!
				</p>
				<div class="row mt-5">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="assets/img/Paulo-Cesar-Barck-286x180.png" alt="Paulo Cesar Bark">
						  	<div class="card-body">
						    	<h5 class="card-title">Show Gospel</h5>
						    	<p class="card-text">
									Rebeca Nemer e o esposo, o cantor gospel Paulo Cesar Baruk,
									farão um show um show no mineirão.
								</p>
						    	<a href="visualizar" class="btn btn-primary">Saiba mais</a>
						  </div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="assets/img/Hammer-286x180.jpg" alt="Show de Hammer MC">
						  	<div class="card-body">
						    	<h5 class="card-title">Hammer MC</h5>
						    	<p class="card-text">
								Hammer MC esta de volta e fará uma turné em no brasil,
								seu primeiro show é em são paulo, venha curtir o funk americano.
								</p>
						    	<a href="#" class="btn btn-primary">Saiba mais</a>
						  </div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="assets/img/Art-Outside-Performance-001-286x180.jpg" alt="Card image cap">
						  	<div class="card-body">
						    	<h5 class="card-title">Grupo Performance Master</h5>
						    	<p class="card-text">
								O grupo fará uma apresentação em são paulo,
								é um dos melhores grupos teatrais do momento.
								</p>
						    	<a href="#" class="btn btn-primary">Saiba mais</a>
						  </div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 mt-5">
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="assets/img/2018Music_American_popular_singer_Rihanna_125190_32.jpg" alt="Paulo Cesar Bark">
						  	<div class="card-body">
						    	<h5 class="card-title">Hihanna</h5>
						    	<p class="card-text">
									Hihanna estará no rio de janeiro fazendo um mega show
									para todos os amantes da musica pop, venha conferir.
								</p>
						    	<a href="#" class="btn btn-primary">Saiba mais</a>
						  </div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 mt-5">
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="assets/img/YCC-Youth-Care-Club-286x180.jpg" alt="Show de Hammer MC">
						  	<div class="card-body">
						    	<h5 class="card-title">Youth Care Club</h5>
						    	<p class="card-text">
								O grupo YCC fará um evento beneficiente em belo horizonte,
								para arrecadar fundos para sua nova fundação para o brasil.
								</p>
						    	<a href="#" class="btn btn-primary">Saiba mais</a>
						  </div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 mt-5">
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="assets/img/Mega-Music-Nigeria-286x180.jpg" alt="Card image cap">
						  	<div class="card-body">
						    	<h5 class="card-title">Grupo Nigeriano</h5>
						    	<p class="card-text">
								Um grupo Nigeriano que esta fazendo sucesso no mundo inteiro,
								chega ao brasil para apresentar a sua musica pop.
								</p>
						    	<a href="#" class="btn btn-primary">Saiba mais</a>
						  </div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
{% include 'base-template/rodape.twig' %}