{% include 'base-template/cabecalho-simples.twig' %}
<main id="main-content">
    <div class="container">
        <section id="services" class="py-5">
            <div class="col-md-6 col-sm-12 col-lg-6 offset-md-3 offset-lg-3">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <h1 class="mt-5 text-center titulo">Sobre a Easy Entry !</h1>
                    <div class="card mt-5">
                        <div class="card-body">
                            <p class="text-justify font-weight-light">
                            A easy entre é uma empresa séria que tem anos de mercado de
                            divulgação e execução de eventos. A empresa cuida de tudo para
                            você, desde a divulgação, gerenciamento e disponibilização de
                            ingressos e também cuida e gerencia a parte orçamental, fazendo
                            com que sua empresa não se preocupe com nada além de a organização
                            do evento.<br><br>

                            Você não terá transtorno algum e o dinheiro pode ser solicitado
                            a partir do momento que os lotes dos ingressos forem acabando,
                            a solicitação de saque passa por uma analise que dura no máximo
                            72 horas, e a nossa taxa são as menores do mercado principalmente
                            comparado a outras empresas que oferecem os mesmos serviços.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% include 'base-template/rodape-simples.twig' %}