	<footer id="footer">
		<div class="container">
			<div class="row py-5">
				<div class="col-md-6 col-xs-12 text-center">
					<p class="info">&copy; Copyright School of Net. All rights reserved 2017</p>
				</div>
				<div class="col-md-6 col-xs-12 text-center">
					<p class="info-links">Links Úteis</p>
					<ul class="links-list">
						<li class="mr-4">
							<a href="">Cadastrar</a>
						</li>
						<li class="mr-4">
							<a href="">Contato</a>
						</li>
						<li class="mr-4">
							<a href="">Entrar</a>
						</li>
						<li class="mr-4">
							<a href="">Sobre</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>    
    {% block javascript %}
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/main.js"></script>                                
    {% endblock %}
</body>
</html>