    {% block javascript %}
        <script src="assets/js/jquery.min.js" sync></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jQuery-Mask-Plugin/dist/jquery.mask.min.js"></script>
        <script src="assets/js/main.js"></script>                                
    {% endblock %}
</body>
</html>